.main {
    color: black;
    position: relative;
}

.main::before {
    content: "Before Element";
    color: rgb(255, 0, 0);
/*     position: absolute;
    left: 0px; */
}

.main::after {
    content: "After Element";
    color: rgb(255, 0, 0);
/*     position: absolute;
    right: -100px; */
}